body{
    background-image: url('../images/backGround/starNight.jpeg');
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
    text-align: left;
}

a{
  color: white;
   text-decoration: none;
}

a:hover{
   color: #ced5db;
   text-decoration: none;

}

.row1{
    padding-top: 40px;
	text-align: center;	
	animation-name: fadeInUp;
    animation-duration: 3s;
}


.row2{
	column-count: 3 ;
    padding-top: 50px;
	text-align: center;	
	animation-name: fadeInUp;
    animation-duration: 3s;

}
.row3{
    
	column-count: 3 ;
    padding-top: 60px;
	text-align: center;
	animation-name: fadeInUp;
    animation-duration: 4s;

}

#shuffle{
  background-color: transparent; 
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2{
	padding-top: 30px;
    text-align: center;	
    color: white;     /*#525154;*/
    animation-name: fadeInUp;
    animation-duration: 3s;
   
}

h4{
    color: white;
}

img{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
	object-fit:cover;
	cursor: pointer;

    
}


p{  
	color:white;
    height: 400px;
    width: auto;
    text-align: center;
    padding-top: 5px;

   
}

.column:hover img{
	opacity: 0.7;
}

.shuffleActive{
    animation-name:  flipInY, rotateY;
    animation-duration: 1s, 1s; 
    animation-iteration-count: 1, 2;
    animation-timing-function: ease-in;
   /* animation-name: flipInY;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2;*/  
}

@keyframes rotateY {
   0% { transform: rotateY( 60deg); }
  20% { transform: rotateY( 120deg); }
  40% { transform: rotateY( 180deg); }
  60% { transform: rotateY( 240deg); }
  80% { transform: rotateY( 300deg); }
  100% { transform: rotateY( 360deg); }
}
